#Undefined_entity{
    color: rgb(45, 54, 65);    /* Outside */
    color: rgb(49, 61, 77);    /* Background */
    color: rgb(83, 93, 106);   /* Hover*/
    color: rgb(0, 97, 187);    /* Special*/
    color: rgb(187, 0, 40);    /* Special*/
    color: rgb(245, 233, 217); /* Text */
}